<style>
    @@media only screen and (max-width: 600px) {
        .page-sidebar {
            display: block !important;
        }
    }
</style>
<aside class="page-sidebar" style="display:none;">
    <div class="page-logo">
        <a href="#" class="page-logo-link d-flex align-items-center position-relative">
            <span class="page-logo-text mr-1 ml-6" style="font-size:1.5rem;">HIRE PRESS</span>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
       
        <ul id="js-nav-menu" class="nav-menu">
            <li class="active open">
                <a href="/Home/Index" title="Home">
                    <i class="fal fa-home"></i>
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="open">
                <a href="/Account/Login" title="Login">
                    <i class="fal fa-sign-in"></i>
                    <span class="nav-link-text">Login</span>
                </a>
            </li>
            <li class="open">
                <a href="/Account/Register" title="Register">
                    <i class="fal fa-user"></i>
                    <span class="nav-link-text">Register</span>
                </a>
            </li>
            <li class="open">
                <a href="/Employer/Index" title="Employer">
                    <i class="fal fa-bars"></i>
                    <span class="nav-link-text">EMPLOYER</span>
                </a>
            </li>
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                    <i class="fal fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                    <i class="fal fa-life-ring"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                    <i class="fal fa-phone"></i>
                </a>
            </li>
        </ul>
    </div> <!-- END NAV FOOTER -->
</aside>
<!-- END Left Aside -->