<style>
    .header-list {
        font-size: 1rem;
    }
    /*.header-list:hover {
            color: #318c38;
        }*/
    .header-list-post {
        font-size: 1.2rem;
    }

        /*.header-list-post:hover {
            color: #318c38;
        }*/
        .header-list-post span {
            border: 1px solid #6e4e9e;
            border-radius: 5px;
            padding: 4px;
        }

            .header-list-post span:hover {
                border: 1px solid #6e4e9e;
            }

    .hidden-md-down {
        margin-right: 20px;
    }

    .page-header {
        margin-left: 0px !important;
    }
</style>
<!-- BEGIN Page Header -->
<header class="page-header" role="banner">
    <a href="/Home/Index" class="page-logo-link d-flex align-items-center position-relative">
        <span class="page-logo-text mr-1 color-primary-600" style="font-weight:400;font-size:1.5rem;">HIRE PRESS</span>
        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
    </a>
    <div class="hidden-lg-up" style="margin-left:auto;">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>
<div class="ml-auto d-flex">
    @if (Session["UserType"] == null)
    {
        <div class="hidden-md-down">
            <a href="/Account/OnBoard" class="header-icon color-primary-600 cursor-pointer header-list">
                <span>ONBOARD</span>
            </a>
        </div>
        <div class="hidden-md-down">
            <a href="/Account/Login" class="header-icon color-primary-600 cursor-pointer header-list">
                <span>LOGIN</span>
            </a>
        </div>
        <div class="hidden-md-down">
            <a href="/Account/Register" class="header-icon color-primary-600 cursor-pointer header-list">
                <span>REGISTER</span>
            </a>
        </div>
        <div class="hidden-md-down" style="margin-right:0px;">
            <a href="/Home/PostJob" class="header-icon color-primary-600 font-weight-bold cursor-pointer header-list-post">
                <span>POST JOB</span>
            </a>
        </div>
    }
    <!-- app user menu -->
    @if (Session["UserType"] != null)
    {
        <div>
            <a href="#" data-toggle="dropdown" title="drlantern@gotbootstrap.com" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <img src="~/Theme/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                <!-- you can also add username next to the avatar with the codes below:
                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i> -->
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                        <span class="mr-2">
                            <img src="~/Theme/img/demo/avatars/avatar-admin.png" class="rounded-circle profile-image" alt="Dr. Codex Lantern">
                        </span>
                        <div class="info-card-text">
                            <div class="fs-lg text-truncate text-truncate-lg">@Session["UserName"]</div>
                            <span class="text-truncate text-truncate-md opacity-80">@Session["UserEmail"]</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider m-0"></div>
                @*<a href="#" class="dropdown-item" data-action="app-reset">
                        <span data-i18n="drpdwn.reset_layout">Reset Layout</span>
                    </a>*@
                <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
                    <span data-i18n="drpdwn.settings">Settings</span>
                </a>
                <div class="dropdown-divider m-0"></div>
                @if (Session["UserAdmin"] != null)
                {
                    <a href="/Account/Admin" class="dropdown-item">
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-divider m-0"></div>
                }
                @if (Session["UserSuperAdmin"] != null)
                {
                    <a href="/Account/SuperAdmin" class="dropdown-item">
                        <span>Super Admin</span>
                    </a>
                    <div class="dropdown-divider m-0"></div>
                }
               
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item fw-500 pt-3 pb-3" href="javascript:document.getElementById('logoutForm').submit()">
                    <span data-i18n="drpdwn.page-logout">Logout</span>
                    <span class="float-right fw-n">&commat;@Session["UserName"]</span>
                </a>
                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    }
</div>
</header>
<!-- END Page Header -->
