
@{
    ViewBag.Title = "Employer - Signin";
}

<style>
    

    .page-content {
        padding: 0 !important
    }

    .employer-wrapper {
        height: 90vh;
        width: 100vw;
        background: url('https://affixtheme.com/html/xmee/demo/img/figure/bg14-l.jpg');
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .employer-login-wrap .form-label{
        color: #efefef;
    }
    .employer-signup-wrap .form-label {
        color: #444;
    }

    .employer-child {
        border-radius: 10px;
        box-shadow: 0 0 10px grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .employer-login-wrap {
        width: 30vw;
        height: 80vh;
        background: white;
        padding: 3rem;
        background: rgba(0,0,0,0.6);
    }

    .employer-signup-wrap {
        padding: 3rem;
        width: 30vw;
        height: 80vh;
        background: white;
    }

    .w-100{
        width: 100%;
    }
</style>









<div class="employer-wrapper">
    <div class="employer-child">
        <div class="employer-login-wrap">
            <h2 class="text-left color-white">Login</h2>
            <hr />

            <div class="form-group mt-5">
                <label class="form-label" for="email">Email</label>
                <input name="college" type="text" id="College" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input name="college" type="text" id="College" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <a href="javascript:void(0)" class="color-white"><i class="fal fa-frown" aria-hidden="true"></i> Forget Password?</a> <br>
            <button type="submit" class="btn btn-primary w-100 color-white mt-5">LOGIN</button>
        </div>
        <div class="employer-signup-wrap">
            <h2 class="mb-4">Signup</h2>
            <div class="form-group">
                <label class="form-label" for="College">Full Name</label>
                <input name="college" type="text" id="College" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="Specialization">Mobile Number</label>
                <input name="specialization" type="text" id="Specialization" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="Graduation_Year">Company Email</label>
                <input name="graduation_year" type="text" id="Graduation_Year" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="College">Password</label>
                <input name="college" type="text" id="College" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="Specialization">Confirm Password</label>
                <input name="specialization" type="text" id="Specialization" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <div class="form-group">
                <label class="form-label" for="College">Referral Code</label>
                <input name="college" type="text" id="College" class="form-control" onkeyup="CheckQualificationFields()">
            </div>
            <button type="submit" class="btn btn-primary w-100 color-white mt-5">REGISTER</button>
        </div>
    </div>
    
   
</div>
