
@{
    ViewBag.Title = "Employer - Home";
}

<div class="container text-center">
    <a href="/Employer/PostJob" class="btn btn-primary" style="transform: translateY(100%);" title="Post Job">Post Your First Job</a>
</div>

