@{
    ViewBag.Title = "Confirm Email";
}
<div class="container">
    <div class="col-sm-5 m-auto">
        <div class="card border m-auto m-lg-0">
            <div class="card-body">
                <h2 class="text-center color-primary-600">Confirm Email</h2>
                <hr />
                <p class="card-text text-center">Thank you!</p>
                <br />
                <p>Thank you for confirming your email. Please <b>@Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b></p>
            </div>
        </div>
    </div>
</div>